.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

h4,
h6 {
    font-weight: 400;
}
.pi-plus{
    text-align: center;
    /* margin-right: 5px;
    margin-left: 3px; */
}
.qt{
    margin-right: -0.8px;
    margin-left: 1px;
    text-align: center;
}
.btn1 {
    background:
    rgb(58, 79, 119);
    border-radius: 40%;
    width: 0.1px;
    height: 2px;
    font-size: 16px;
    color: #fff;
    margin: 0 2.5px;
}

.content  {
    font-weight: 800;
    font-size: 18px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}