.sidebar-item {
    padding: 50px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 100;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 5px; */
    background-color: antiquewhite;

  }
  /* .p-sidebar-content{
    background-color: antiquewhite;
  } */
  .sidebar-item:hover {
    background: peachpuff;
  }
  .sidebar-item i{
    /* font-size: 20px; */
    margin-right: 25px;
    width: 20px;
    /* cursor: pointer; */
    display: inline-block;
    float: none;
    /* background: rgba(125, 145, 74, 0.19);  */

  }
  .badge-notify{
    background:red;
    position:relative;
    top: -18px;
    left: -5px;
}
  .sidebar-item{
    width: 100%;
   display: table;
   text-align: center;
   font-size: xxx-large;
  }

  i{
    cursor: pointer;
    font-size: 43px
  }

  .home{
    cursor: pointer;
    font-size: 43px
  }

  .i:hover {
    background: rgba(170, 214, 93, 0.19);
  }


.p-sidebar-content{
    width: 100%;
    display: table;
    text-align: center;
 }
 