<header>
    <div class="main-header d-flex justify-content-between p-3 align-items-center border-bottom">
      <div >
        <p-sidebar [(visible)]="display" [baseZIndex]="10000"  [fullScreen]="true" class="sidebar">
          <div *ngFor='let item of items' >
            <div (click)="display = false" class="sidebar-item" [routerLink]="[ item.routerLink ]" >
              <i  class={{item.icon}} ></i>&nbsp;{{ item.label }}
            </div>
          </div>
        </p-sidebar>
        <i (click)="display = true" class="pi pi-bars" style="font-size: 1.5em"></i>
      </div>
      <div [routerLink]="'shop'" class="home">
          <img src="assets/images/cmwr-logo-450.jpg" height="40" class="mr-2">
      </div>
      <div>
        <!-- <p-button [routerLink]="'shop/cart'"  label="Cart"  icon="pi pi-shopping-cart" styleClass="mr-2" >{{totalCartItems}}</p-button> -->

        <!-- <i [routerLink]="'shop/cart'" label="Cart" aria-hidden="true"   class="pi pi-shopping-cart" style="font-size: 1.5em">
          <span *ngIf="number" class="pi pi-shopping-cart" >{{number.text}}
          </span>
        </i> -->
        <a [routerLink]="'shop/cart/'">
          <span class="pi pi-shopping-cart" aria-hidden="true">
            <span   class="badge badge-notify" aria-hidden="true" >{{totalCartItems}}
            </span>
          </span>
        </a>
      </div>
    </div>
  </header>
