
<div class="featured_shop_wrap mb-5">
    <div class="heading_wrap text-center mb-5">
      <h3>Courses Catalog</h3>
    </div>
    <div class="allProdList mr-3">
      <div class="single_prod" *ngFor="let product of productsList">
        <div class="mb-3 relative">
          <img src={{product.image}} class="w-full">
        </div>
        <div class="flex flex-column">
          <span class="text-prod mb-3">{{product.product_name}}</span>
          <span class="text-prod-price mb-3">{{product.price}}</span>
          <p class="p-text-truncate">{{product.desc }}</p>
          <button   type="button" pripple="" class="absolute_button">
            <i class="pi pi-fw pi-info-circle mr-3 text-base"></i>&nbsp;
            <span class="text-base">View Details</span>
          </button>
        </div>
      </div>
    </div>
  </div>