<div class="d-flex justify-content-between">
  <h3>List Of Products</h3>
  <a routerLink="add" class="btn btn-success">Create New Product</a>
</div>

<br>

<div class="card">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">Modle No</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products;index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{ product. modle_product_id }}</td>
      <td>{{ product.product_name }}</td>
      <td>{{ product.description }}</td>
      <td><img class="table-product-img images" src={{product.image}} /></td>
      <td>{{ product.price }}</td>
      <td>
      
        <a  class="action-icon edit btn-success" (click)="edit()"><mat-icon class="icon">edit</mat-icon></a>
        <a  class="action-icon delete" (click)="delete()"><mat-icon>delete_outline</mat-icon></a>

      </td>
    </tr>
  
  </tbody>
</table>
</div>
